*{

}
.form{
    margin: 0vw;
    padding: 5vw ;
    position:center;
}
.form label{
    display: block;
    font-size: 20px;
    color: #F4F4F8;
    border: #363732;
    text-shadow: -1px -1px 0 #363732, 1px -1px 0 #363732, -1px 1px 0 #363732, 1px 1px 0 #363732;
}
.form input{
    display: block;
    border: #363732;
    background-color: #363732;
    color: #F4F4F8;
    border-radius: 5px;
}
.form select{
    display: block;
    background-color: #363732;
    color: #F4F4F8;
    border-radius: 5px;
}